
html, body {
  height: 100%;
}

body {
  display: table;
  margin: auto;
}

div.title {
  background-color: #b7bfe4;
  text-align: center;
  font-size: 2em;
}

div.content {
  margin: auto;
  vertical-align: middle;
}
